<%= form_tag :action => 'step2' do %>

    <%= text_field_tag :first_name, nil, :placeholder => "First Name" %>

    <%= text_field_tag :last_name, nil, :placeholder =>"Last Name" %>

    <%= text_field_tag :email, nil, :placeholder =>"E-mail Address" %>


  <div class="actions">
    <%= submit_tag 'Create Account' , :id => 'create' %>
  </div>
<% end %>