<%= form_tag :action => 'step1' do %>

<% case @incomplete %>
<% when 1 && 2 %>

    <%= text_field_tag :first_name, @first_name, :placeholder => "First Name" %>
    <%= text_field_tag :last_name, @last_name, :placeholder => "Last Name" %>
    <%= text_field_tag :email, @email, :placeholder => "E-Mail" %>

<% else %>

 	<%= hidden_field_tag :first_name, @first_name %>
    <%= hidden_field_tag :last_name, @last_name %>
    <%= hidden_field_tag :email, @email %>

<% end %>

    <%= text_field_tag :username, @username, :placeholder => "Username" %>
    <%= password_field_tag :password, nil, :placeholder =>"Password" %>
    <%= password_field_tag :password_confirmation, nil, :placeholder =>"Confirm password" %>
    
    <div class="actions">
    	<%= submit_tag 'Next' %>
  	</div>

<% end %>