<%= form_tag :action => 'step1' do %>

<% case @incomplete %>
<% when 1, 2 %>

    <%= text_field_tag :first_name, @first_name, :placeholder => "First Name", :class => 'short' %>
    <%= text_field_tag :last_name, @last_name, :placeholder => "Last Name", :class => 'short' %>
    <%= text_field_tag :email, @email, :placeholder => "E-Mail", :class => 'long' %>

<% else %>

 	<%= hidden_field_tag :first_name, @first_name %>
    <%= hidden_field_tag :last_name, @last_name %>
    <%= hidden_field_tag :email, @email %>

<% end %>

    <%= text_field_tag :username, @username, :placeholder => "Username", :class => 'long' %>
    <%= password_field_tag :password, nil, :placeholder =>"Password", :class => 'short' %>
    <%= password_field_tag :password_confirmation, nil, :placeholder =>"Confirm password", :class => 'short' %>
    
    <div class="actions">
    	<%= submit_tag 'Next' %>
  	</div>

<% end %>