<%= form_tag :action => 'step4' do %>

     <div class="field">
    <%= button_tag "Import Amazon Wishlist" %>
  </div>

      <div class="field">
    <%= button_tag "Import ASOS Wishlist" %>
  </div>

        <div class="field">
    <%= button_tag "Import John Lewis Wishlist" %>
  </div>


  <div class="actions">
    <%= submit_tag 'Next' %>
  </div>
<% end %>